# SPDX-FileCopyrightText: 2025 Frederic Ruget <fred@atlant.is> (GitHub: @douzebis)
#
# SPDX-License-Identifier: MIT

/.env
/.cache/
/.venv/
/dist/
/result/
/src/yb.egg-info/
/yb.code-workspace
__pycache__/
/result*

