# SPDX-FileCopyrightText: 2025 - 2026 Frederic Ruget <fred@atlant.is> (GitHub: @douzebis)
#
# SPDX-License-Identifier: MIT

/.env
/.cache/
/.venv/
/dist/
/src/yb.egg-info/
/yb.code-workspace
/__pycache__
/result*
/rust/result*
/rust/target/
/website/public/
/man/man1/
/man/mandoc.db

