# SPDX-FileCopyrightText: 2025 - 2026 Frederic Ruget <fred@atlant.is> <fred@s3ns.io> (GitHub: @douzebis)
# SPDX-FileCopyrightText: 2025 - 2026 Thales Cloud Sécurisé
#
# SPDX-License-Identifier: MIT

/.env
/.cache/
/.venv/
/dist/
/src/yb.egg-info/
/yb.code-workspace
/__pycache__
/result*
/rust/result*
/rust/target/
/website/public/
/man/man1/
/man/mandoc.db
/.vscode/settings.json
/rust/.vscode/settings.json
/rust/rust-toolchain.toml
/pyrightconfig.json
/ruff.toml

